@{
    ViewData["Title"] = "Home Page";
}

<div class="card bg-white text-info  border-light">
    <img src="./images/shift.gif" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title fs-2">Transport</h5>
        <p class="card-text text-wrap" style="width: 6rem;">The all-in-one, collaborative but independent approach for providing the most user-friendly, reliable and satisfying logistics experience.</p>

    </div>
</div>
